.createAccountSection {
  height: max-content;
  width: 100vw;
}

.registerHeader {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 80px;
}

.logoContainer {
  height: 40px;
  width: 150px;
  cursor: pointer;
}

.logoImg {
  height: 100%;
  width: 100%;
}

.createAccount {
  height: calc(100vh - 60px);
  width: 100%;
  padding: 50px 80px 0 80px;
}

.createAccountTop {
  width: 100%;
  height: 80%;
  display: flex;
  padding: 50px 0;
}

.createAccountTopLeft,
.createAccountTopRight {
  height: 100%;
  width: 50%;
}

.createAccountHeader {
  height: max-content;
  width: 100%;
  margin-bottom: 40px;
}

.createAccountHeader h2 {
  font-size: 20px;
}

.createAccountContent {
  height: max-content;
  width: 100%;
}

.createAccountContentCards {
  height: max-content;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #222222;
  padding: 20px 0;
}

.cardImgContainer {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.cardImg {
  height: 100%;
  width: 100%;
}

.createAccountContentCards p {
  font-size: 14px;
}

.createAccountBottom {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #222222;
}

.navBtn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #660066;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;
}

.navBtnActive {
  background: #464545;
  color: #c0c0c0;
  cursor: not-allowed;
}

.createAccountTopRight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.userConfidenceContainer {
  height: max-content;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.userGoLeft,
.userGoRight {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.userGoLeft i,
.userGoRight i {
  font-size: 50px;
  color: #464545;
}

.userCardsContainer {
  height: max-content;
  width: calc(100% - 100px);
  margin-right: 20px;
}

.userCard {
  height: max-content;
  width: 380px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding: 0 20px;
  transition: 0.3s ease;
}

.userCardTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userImgContainer {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 20px 0;
}

.userImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.userAvailability {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 15px;
  width: 15px;
  border: 2px solid #000000;
  border-radius: 100%;
  background: #008000;
}

.userCardMiddle {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userCardMiddle h3 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 5px;
}

.userCardMiddle p {
  font-size: 16px;
  margin-bottom: 5px;
}

.clientRateContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.clientRate {
  display: flex;
  align-items: center;
}

.clientRate i {
  font-size: 16px;
  color: #ffffff;
  margin-right: 5px;
}

.starIcon {
  color: yellow;
}

.userCardBottom {
  width: 100%;
  margin-bottom: 20px;
}
